<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Houseplant Classification</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<h2>Add classification</h2>
		<div class="col-md-4">
			<form th:object="${classification}" th:action="@{saveClassification}" action="#"
				method="post">

				<label for="name">Name</label> <input type="text" id="name"
					th:field="*{name}" class="form-control" />
				<div style="clear: both; display: block; height: 10px;"></div>

				<input class="btn btn-success" type="submit" value="Save"></input>

			</form>
		</div>
	</div>
</body>
</html>